language: objective-c
osx_image: xcode9.2

cache:
  directories:
  - Carthage

before_install:
  - brew update
  - brew outdated carthage || brew upgrade carthage

install:
  - carthage bootstrap --no-use-binaries --platform iOS --cache-builds
  - gem install xcpretty

before_script:
  - set -o pipefail

env:
  global:
    - LC_CTYPE=en_US.UTF-8
    - LANG=en_US.UTF-8

script:
  - xcodebuild -version
  - xcodebuild -showsdks
  - xcodebuild
    -project weaterify-ios.xcodeproj
    -scheme weaterify-ios-iOS
    -sdk iphonesimulator11.0
    -destination 'OS=11.0,name=iPhone 7 Plus'
    test

after_success:
  - bash <(curl -s https://codecov.io/bash) 

notifications:
  email: true
