language: objective-c
osx_image: xcode9.2

cache:
  directories:
  - Carthage

before_install:
  - brew update
  - brew outdated carthage || brew upgrade carthage

install:
  - carthage bootstrap --no-use-binaries --platform $PLATFORM --cache-builds
  - gem install xcpretty
	
before_script:
  - set -o pipefail

env:
  global:
    - LC_CTYPE=en_US.UTF-8
    - LANG=en_US.UTF-8
    - FRAMEWORK_NAME="weaterify-ios"
		- SCHEME="iOS"
		- SDK="iphonesimulator11.0"
		- DESTINATION="OS=11.0,name=iPhone 7 Plus"
		
script:
  - set -o pipefail
  - xcodebuild -version
  - xcodebuild -showsdks
  - xcodebuild
    -project "$FRAMEWORK_NAME.xcodeproj"
    -scheme "$FRAMEWORK_NAME-$SCHEME"
    -sdk "$SDK"
    -destination "$DESTINATION"
    -configuration Debug
    test

after_success:
  - bash <(curl -s https://codecov.io/bash) 

notifications:
  email: true
